
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
:root {
    --pale-violet: hsl(276, 100%, 81%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);

    /* Gradients */
    --light-magenta: hsl(293, 100%, 63%);
    --light-violet: hsl(264, 100%, 61%);

    /* Secondery */
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --very-light-magenta: hsl(289, 100%, 72%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-grayish-violet);
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}
.container{
    position: absolute;
    top: calc(50% - 15rem);
    left: calc(50% - 25rem);
    width: 50rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mWrapper{
    top: 0;
    left: 0;
    width: 18rem;
    height: 34.5rem;
    position: relative;
    z-index: 1;
}
.mobile {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0.6rem solid var(--white);
    box-shadow: 1rem 1rem 1rem rgba(128, 128, 128, 0.1);
    border-radius: 2rem;
    z-index: 2;
}

.mViolet{
    border: 1px solid #000;
    height: 86%;
    width: 28rem;
    position: absolute;
    border-bottom-right-radius: 14rem;
    border-bottom-left-radius: 14rem;
    margin-left: -2rem;
    background: linear-gradient(30deg, var(--light-violet) 20%, var(--moderate-violet) 60%, var(--light-magenta) 100%);
}
.leftViolet{
    height: 86%;
    width: 28rem;
    border-top-right-radius: 14rem;
    border-top-left-radius: 14rem;
    position: absolute;
    bottom:0;
    right: -14rem;
    float: right;
    background: linear-gradient(30deg, var(--light-violet) 20%, var(--moderate-violet) 60%, var(--light-magenta) 100%);
    opacity: 0.1;
}
.topBar{
    position: relative;
    width: calc(100% - 1.2rem);
    height: 5rem;
    background: linear-gradient(45deg, var(--light-violet) 30%, var(--light-magenta) 100%);
    z-index: -1;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    top: 0;
    left: 0.6rem;
    border-bottom-left-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
.topWhite{
    position: absolute;
    top: 0;
    left: calc(50% - 5rem);
    height: 2rem;
    width: 10rem;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    background-color: white;
}
.profile{
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 2.2rem;
    left: 1rem;
    margin: 0.3rem;
    font-size: 0.3rem;
}
.avatar{
    display: block;
    width: 2rem;
    border: 1px solid white;
    border-radius: 1rem;
    margin: 0 0.7rem;
}
.name{
    display: inline-block;
}
.profile h1{
    font-size: 0.8rem;
}
.profile span{
    font-size: 0.6rem;
    color: var(--pale-violet);
}
.arrow {
    margin-left: 0.3rem;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
}
.dots{
    position: absolute;
    right: 1rem;
}
.dots {
    width: 2rem;
    height: 1rem;
    background-image: radial-gradient(circle, white 1px, transparent 2px);
    background-size: 100% 33.33%;
}
.chat{
    position: absolute;
    background-color: var(--light-grayish-violet);
    height: 100%;
    width: 100%;
    z-index: -3;
    border: 0 solid white;
    border-radius: 2rem;
    
}
.message{
    padding: 0.4rem;
    margin: 0.4rem;
    font-size: 0.6rem;
    max-width: 10rem;
    border-radius: 1rem;
}
/*left messages*/
.lf{
    color: var(--moderate-violet);
    background-color: hsla(275.9, 100%, 81%, 0.29);
    border-bottom-left-radius: 0.3rem;
    margin-left: 1rem;
}
.dogs{
    margin: 0.3rem 0;
    width: 100%;
    margin-right: 1rem;
}
.dogs img{
    float: right;
    margin: 0 2px;
    width: 3.4rem;
    border-radius: 1rem;
}
/*left messages*/
.rm{
    float: right;
    margin-top: 0.3rem;
    background-color: white;
    box-shadow: 2px 2px 4px rgb(198, 190, 190);
    margin-right: 1rem;
    border-bottom-right-radius: 0.3rem;
    
}
.chats{
    display: flex;
    flex-wrap: wrap;
}
div.message.rm{
    width: 100%;
    margin-left: calc(94% - 10rem);
}
.flex-mes{
    margin: 0.3rem;
    padding: 0.5rem;
    border-radius: 0.7rem;
    border-bottom-left-radius: 0.3rem;
    margin-left: 1rem;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, var(--light-magenta) 40%, var(--light-violet) 100%);
    display: flex;
    color: white;
}
.circle-span{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.circle{
    margin-right: 0.7rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: 1px solid white;
    border-radius: 50%;
}
.flex-mes h1{
    font-size: 1rem;
}
.flex-mes span{
    font-size: 0.7rem;
    align-items: center;
}
.type-area{
    font-size: 0.7rem;
    padding: 0.4rem;
    width: 86%;
    margin: 0.4rem auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    box-shadow: 1px 1px 1px gray;
    align-items: center;
}
.send-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: var(--very-dark-desaturated-violet);
    border-radius: 50%;
}
.send-circle > .arrow{
    transform: rotate(-45deg);
}
.type-area span{
    color: var(--dark-grayish-violet);
    margin-left: 1rem;
}
.paragraph h1{
    margin-bottom: 1rem;
    font-size: 2rem;
    color: var(--very-dark-desaturated-violet);
}
.paragraph{
    padding: 3rem;
    color: black;
    z-index: 3;
    max-width: 30rem;
    color: var(--dark-grayish-violet);
}